@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --current-font: arial, serif, sans-serif, monospace;
  font-family: var(--current-font);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  background-color: rgb(255, 255, 255);
}

html {
  background-color: #050505;
}
